*{
    box-sizing: border-box;
    /* border: 0.5px solid black; */
    text-align: center;
} 
:root{
    --cyan: hsl(171, 66%, 44%);
    --blue: hsl(233, 100%, 69%);
}   
body{
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
}
#banner{
    width: 100%;
    height: 365px;
    margin: 0 auto 6.5%;
    background-position: center top, center bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 165px;
}
p{
    color: hsl(201, 11%, 66%);
}
h2, h3, h4{
    color: hsl(210, 10%, 33%);
}
.buttons{
    padding: 0 35px;
    display: flex;
    max-width: 500px;
    margin: 55px auto 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.ios, .mac{
    font-weight: 400;
    padding: 13px 36px;
    margin: 5px 8px;
    border: 0px;
    color: white;
    border-radius: 50px;
}
.ios{
    background-color: var(--cyan);
    border-bottom: 2px solid hsl(171, 66%, 35%);
    box-shadow: 0px 10px 36px -11px var(--cyan)
}
.mac{
    background-color: var(--blue);
    border-bottom: 2px solid hsl(233, 57%, 56%);
    box-shadow: 0px 10px 36px -11px var(--blue)
}
.ios:hover, .mac:hover{
    cursor: pointer;
    opacity: .7;
}
#footer{
    background-color: #F5F6F8;
}
#logo{
    height: 110px;
    padding: 30px;
}
#footer .navItems{
    text-decoration: none;
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}
#footer .navItems:hover{
    color: var(--cyan); 
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
    /* mobile */
    /* banner, s1, s2, s3, s4, s5 */
@media screen and (max-width: 375px){
    #banner{
        background-image: url(images/bg-header-mobile.png), url(images/logo.svg);
        margin: 0 auto 25%;
    }
}
@media screen and (max-width: 500px){
    #banner{
        background-size: cover, 33%;
    }
}
@media screen and (max-width: 500px){
    .ios, .mac{
        width: 83%;
    }  
}
@media screen and (max-width: 900px){       
    #img1{
        width: 100%;
        padding: 7% 7%;
        margin: 0 auto;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size: 27px;
    }
    h2, h3, h4, p{
        padding: 0 4%;
    }
    #s1, #s2, #s3, #s4, #s5, #footer{
        margin-top: 30%;
    }
    #img2{                                      
        width: 100%;
        padding: 6% 4% 0;
        margin: 0 auto;
    }
    #c2{
        margin-top: 10%;
    }
    .i2{
        margin-top: 22%;
    }
    #s4{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    #s4 img{
        width: 50%;
        margin: 9% 2%;
    }
}
@media screen and (max-width: 700px){       /* footer */
    #footer{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    #footer nav{
        display: flex;
        flex-flow: column nowrap;
    }
    .navItems{
        padding-bottom: 25px; 
    }
    #footer #socials{
        width: 50%;
        padding: 6% 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}
    /* desktop */
    /* banner, s1, s2, s3, s4, s5 */
@media screen and (min-width: 375px){       
    #banner{
        background-image: url(images/bg-header-desktop.png), url(images/logo.svg);
    }
}
@media screen and (min-width: 900px){       
    #c1{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        margin-top: 70px;
    }
    #img1{
        max-width: 50%;
        height: 570px;
        object-fit: cover;
        object-position: right center;
    }
    #item2{
        max-width: 50%;
        padding-left: 7%;
        padding-right: 15%;
    }
    #item2 h4{
        text-align: left;
        margin: 15% 0 1em;
    }
    #item2 p{
        text-align: left;
    }
    h2, h3, h4{
        text-align: center;
        color: hsl(210, 10%, 33%);
        font-weight: 600;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 30px;
    }
    h4{
        font-size: 23px;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        margin: auto;
    }
    header p, #s1p1, #s2 p, #s5 p{
        max-width: 690px;
    }
    #s1, #s2, #s4, #s5, #footer{
        margin-top: 8%;
    }

    #img2{                                      
        width: 100%;
        padding: 6% 16% 0;
        margin: 0 auto;
    }

    #c2{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: 55px auto 0;
    }
    .i2{
        max-width: 25%;
        margin: 0 0.4%;
    }
    .i2 p{
        font-size: 16px;
    }
    #c2 img{
        height: 19%;
    }
    #s3{
        margin-top: 1%;
    }

    #s4{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-left: 11%;
        margin-right: 11%;
    }
    #s4 img{
        width: 16%;
        margin: 0 2%;
    }
}
@media screen and (min-width: 700px) {      /* footer */
    #footer{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    }
    #footer nav{
        width: 60%;
        height: 110px;
        padding: 25px 4% 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }
    .navItems{
        text-align: left;
        width: 32%;
        padding-top: 12px; 
    }
    #footer #socials{
        width: 13%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
}
